.details {
    padding: 20px;
}
.details .stock{
    font-style: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.details .stock svg{
    margin-right: 5px;
}

.details .description{
    font-style: 14px;
    font-style: italic;
    color: #555;
}

.details h1.positive{
    color: #4EB78F;
}

.details h1.negative{
    color: #E3725A;
}

.details p strong{
    color: #E3725A;
}