.chart{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 30px 270px;
}

.chart-header{
    height: 30px;
    background-color:#008080 ;
    color: #fff;
    padding: 5px 2px;
    text-align: center;
}