.page-quotes{
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 40px 300px minmax(0,1fr);
    height: 100%;
}

.page-quotes header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #375955;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
}

.page-quotes .grid{
    grid-area: 2 / 1 / 4 /2;
}